@charset "UTF-8"


 
* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(imagens/espaco.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    
}

#Astronauta img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
}