@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 160px auto;
    grid-template-areas:
        'header header'
        'sidebar main'
        'footer footer';
    height: 100vh;
}

header {
    background-color: rgb(236, 250, 47);
    grid-area: header;
    text-align: center;
}

.sidebar {
    background-color: rgb(0, 255, 191);
    grid-area: sidebar;
}

main {
    background-color: rgb(240, 17, 17);
    grid-area: main;
}

footer {
    background-color: #387feb;
    grid-area: footer;
    text-align: center;
    padding-top: 20px;
}

/* Media Query */
@media (max-width: 480px) {
    .container {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'header'
            'sidebar'
            'main'
            'footer';
    }
}
